.button-sound {
    display: inline-block;
    padding: 25px 26px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #fff;
    border: none;
    border-radius: 26px;
    box-shadow: 0 9px #999;
  }
  
.button-sound:active {
    background-color: #b9b9b9;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}